:host {

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px 4px 16px;
  background: black;
}

.piano-keys-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.piano-keys {
    width: 40px;
    height: 175px;
    border-radius: 0 0 8px 8px;
    cursor: pointer;
    position: relative;
    border: 1px solid #000;
}

.white-key {
    background-color: #fff;
    margin: 0 -1px 0 -1px;
}

.black-key {
    width: 20px;
    height: 100px;
    border-radius: 0 0 8px 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #000;
    z-index: 2;
    margin: 0 -11px 0 -11px;
}

.selected {
  background-color: #C8E6FF;
}
