:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.appbar {
  background-color: #C8E6FF;
}

.main {
  flex-grow: 1;

  display: flex;
}

.content {
  flex-grow: 1;
}

.ad-space {
  width: 350px;
  padding-inline: 32px;
}
